# EXERCISES: LEVEL 1

In [99]:
 # declare empty list
empty_list = []
print(empty_list)

[]

In [100]:
 # Declare a list with more than 5 items
list_with_items = [1, 2, 3, 4, 5, 6, 7]
print("List with more than 5 items:", list_with_items)

List with more than 5 items: [1, 2, 3, 4, 5, 6, 7]

In [101]:

# Find the length of the list
list_length = len(list_with_items)
print("Length of the list:", list_length)

Length of the list: 7

In [102]:


# Get the first item
first_item = list_with_items[0]

# Get the middle item
middle_index = len(list_with_items) // 2
middle_item = list_with_items[middle_index] if len(list_with_items) % 2 != 0 else (list_with_items[middle_index - 1] + list_with_items[middle_index]) / 2

# Get the last item
last_item = list_with_items[-1]

# Print the results
print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: 1
Middle item: 4
Last item: 7

In [103]:
# Declare a list called mixed_data_types
mixed_data_types = ["Olayinka", 25, 1.75, "Married", "6, Peter-Eruteya Street, Abule_Egba, Lagos State"]
print("Mixed Data Types:", mixed_data_types)

Mixed Data Types: ['Olayinka', 25, 1.75, 'Married', '6, Peter-Eruteya Street, Abule_Egba, Lagos State']

In [104]:
# Declare a list variable named it_companies
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print("IT Companies:", it_companies)

IT Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [105]:
# 8. Print the number of companies in the list
num_companies = len(it_companies)
print("Number of Companies:", num_companies)

Number of Companies: 7

In [106]:
# 9. Print the first, middle, and last company
first_company = it_companies[0]
middle_company_index = len(it_companies) // 2
middle_company = it_companies[middle_company_index] if len(it_companies) % 2 != 0 else it_companies[middle_company_index - 1 : middle_company_index + 1]
last_company = it_companies[-1]

# Print the results
print("First Company:", first_company)
print("Middle Company:", middle_company)
print("Last Company:", last_company)

First Company: Facebook
Middle Company: Apple
Last Company: Amazon

In [107]:
# Original IT Companies list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# 10. Print the list after modifying one of the companies
print("Original IT Companies:", it_companies)

# Modify one of the companies (Microsoft to LinkedIn)
it_companies[2] = "LinkedIn"
print("After modifying a company:", it_companies)

Original IT Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
After modifying a company: ['Facebook', 'Google', 'LinkedIn', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [108]:
# 11. Add an IT company to it_companies
it_companies.append("Instagram")
print("After adding a company:", it_companies)

After adding a company: ['Facebook', 'Google', 'LinkedIn', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Instagram']

In [109]:
# 12. Insert an IT company in the middle of the companies list
middle_index = len(it_companies) // 2
it_companies.insert(middle_index, "Tiktok")
print("After inserting a company in the middle:", it_companies)

After inserting a company in the middle: ['Facebook', 'Google', 'LinkedIn', 'Apple', 'Tiktok', 'IBM', 'Oracle', 'Amazon', 'Instagram']

In [110]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!)
# change the third company to uppercase
third_it_companies = it_companies[2].upper()
print("After changing a company name to uppercase:", third_it_companies)

After changing a company name to uppercase: LINKEDIN

In [111]:
# 14. Join the it_companies with a string '#;  '
joined_companies = '#;  '.join(it_companies)
print("Joined Companies:", joined_companies)

Joined Companies: Facebook#;  Google#;  LinkedIn#;  Apple#;  Tiktok#;  IBM#;  Oracle#;  Amazon#;  Instagram

In [112]:
 # 15. Check if a certain company exists in the it_companies list
company_to_check = "Google"
if company_to_check in it_companies:
    print(f"{company_to_check} exists in the IT Companies list.")
else:
    print(f"{company_to_check} does not exist in the IT Companies list.")

Google exists in the IT Companies list.

In [113]:
# 16. Sort the list using sort() method
it_companies.sort()
print("Sorted IT Companies:", it_companies)

Sorted IT Companies: ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Instagram', 'LinkedIn', 'Oracle', 'Tiktok']

In [114]:
# 17. Reverse the list in descending order using reverse() method
it_companies.reverse()
print("Reversed IT Companies (descending order):", it_companies)

Reversed IT Companies (descending order): ['Tiktok', 'Oracle', 'LinkedIn', 'Instagram', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [115]:
# 18. Slice out the first 3 companies from the list
first_three_companies = it_companies[:3]
print("First 3 companies:", first_three_companies)

First 3 companies: ['Tiktok', 'Oracle', 'LinkedIn']

In [116]:
# 19. Slice out the last 3 companies from the list
last_three_companies = it_companies[-3:]
print("Last 3 companies:", last_three_companies)

Last 3 companies: ['Facebook', 'Apple', 'Amazon']

In [117]:
# 20. Slice out the middle IT company or companies from the list
middle_index = len(it_companies) // 2
middle_companies = it_companies[middle_index] if len(it_companies) % 2 != 0 else it_companies[middle_index - 1 : middle_index + 1]
print("Middle company or companies:", middle_companies)

Middle company or companies: IBM

In [118]:
# 21. Remove the first IT company from the list
it_companies.pop(0)
print("After removing the first IT company:", it_companies)

After removing the first IT company: ['Oracle', 'LinkedIn', 'Instagram', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [119]:
# 22. Remove the middle IT company or companies from the list
middle_index = len(it_companies) // 2
it_companies.pop(middle_index) if len(it_companies) % 2 != 0 else it_companies.pop(middle_index - 1)
print("After removing the middle IT company:", it_companies)

After removing the middle IT company: ['Oracle', 'LinkedIn', 'Instagram', 'Google', 'Facebook', 'Apple', 'Amazon']

In [120]:
# 23. Remove the last IT company from the list
it_companies.pop(-1)
print("After removing the last IT company:", it_companies)

After removing the last IT company: ['Oracle', 'LinkedIn', 'Instagram', 'Google', 'Facebook', 'Apple']

In [121]:
# 24. Remove all IT companies from the list
it_companies.clear()
print("After removing all IT companies:", it_companies)

After removing all IT companies: []

In [122]:
# destory it companies 
del it_companies

In [123]:
# 26. Join the following lists
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

full_stack = front_end + back_end

# Print the result
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [124]:
# 27. After joining the lists in question 26

# Copy the joined list to a new variable full_stack_copy
copy = full_stack.copy()

# Insert Python and SQL after Redux in the copied list
redux_index = copy.index('Redux')
copy.insert(redux_index + 1, 'Python')
copy.insert(redux_index + 2, 'SQL')

# Print the modified copied list
print("Full Stack Copy after inserting Python and SQL:", copy)

Full Stack Copy after inserting Python and SQL: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# EXERCISES: LEVEL 2

In [125]:
 # The following is a list of 10 students ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# 1. Sort the list and find the min and max age
ages.sort()
min_age = min(ages)
max_age = max(ages)
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Age: 19
Max Age: 26

In [126]:
# 2. Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max age:", ages)

Ages after adding min and max age: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [127]:
# 3. Find the median age
sorted_ages = sorted(ages)
middle_index = len(sorted_ages) // 2
median_age = sorted_ages[middle_index] if len(sorted_ages) % 2 != 0 else (sorted_ages[middle_index - 1] + sorted_ages[middle_index]) / 2
print("Median Age:", median_age)

Median Age: 24.0

In [128]:
# 4. Find the average age
average_age = sum(ages) / len(ages)
print("Average Age:", average_age)

Average Age: 22.75

In [129]:
# 5. Find the range of the ages (max minus min)
age_range = max_age - min_age
print("Age Range:", age_range)

Age Range: 7

In [130]:
# 6. Compare the value of (min - average) and (max - average), use abs() method
min_difference =  abs(min_age - average_age)
max_difference = abs(max_age - average_age)
print("Absolute Difference between Min and Average Age:", min_difference)
print("Absolute Difference between Max and Average Age:", max_difference)

Absolute Difference between Min and Average Age: 3.75
Absolute Difference between Max and Average Age: 3.25

In [131]:
# List of countries
countries = [
    'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
    'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
    'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand',
    'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda',
    'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
    'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'
]

# Find the middle country or countries
middle_index = len(countries) // 2
middle_countries = countries[middle_index] if len(countries) % 2 != 0 else countries[middle_index - 1 : middle_index + 1]

# Print the result
print("Middle Country or Countries:", middle_countries)

Middle Country or Countries: ['Thailand', 'Togo']

In [132]:
# Calculate the middle index
middle_index = len(countries) // 2

# Divide the countries list into two equal lists (or one more country for the first half if the list length is odd)
first_half_countries = countries[:middle_index + 1]
second_half_countries = countries[middle_index + 1:]

# Print the results
print("First Half Countries:", first_half_countries)
print("Second Half Countries:", second_half_countries)

First Half Countries: ['Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo']
Second Half Countries: ['Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [133]:
# List of countries
countries_2 = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# Unpack the first three countries and the rest as Scandinavian countries
first_country, second_country, third_country, *scandinavian_countries = countries

# Print the first three countries
print("First Country:", first_country)
print("Second Country:", second_country)
print("Third Country:", third_country)

# Print the rest as Scandinavian countries
print("Scandinavian Countries:", scandinavian_countries)

First Country: Serbia and Montenegro
Second Country: Seychelles
Third Country: Sierra Leone
Scandinavian Countries: ['Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']