# EXECRISES: LEVEL 1

In [2]:
# Using for loop
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
# using while loop
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
# Iterate 10 to 0 using for loop
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [6]:
# iterate 10  to 0 using while loop
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

In [7]:
#  Write a loop that makes seven calls to print() for the triangle pattern.
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

In [8]:
# using nested loop 
for i in range(8):
    for j in range(8):
        print("#", end=" ")
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [9]:
for i in range(11):
    print(f"{i} x {i} = {i*i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [10]:
my_list = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for item in my_list:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [12]:
# print only even number from o to 100
for num in range(0, 101, 2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
# print odd number from 0 to 100
for num in range(1, 101, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# EXERCISES: LEVEL 2

In [16]:
sum_all = 0
for num in range(101):
    sum_all += num

print(f"The sum of all numbers is {sum_all}.")

The sum of all numbers is 5050.

In [15]:
sum_evens = 0
sum_odds = 0

for num in range(101):
    if num % 2 == 0:
        sum_evens += num
    else:
        sum_odds += num

print(f"The sum of all evens is {sum_evens}.")
print(f"And the sum of all odds is {sum_odds}.")

The sum of all evens is 2550.
And the sum of all odds is 2500.

# EXERCISES: LEVEL 3

In [19]:
countries = ['Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

In [21]:
#  Loop through countries and extract those containing the word 'land
countries_with_land = []

for country in countries:
    if 'land' in country.lower():
        countries_with_land.append(country)

print("Countries containing the word 'land':")
for country in countries_with_land:
    print(country)

Countries containing the word 'land':
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [23]:
# Reverse the order of the fruit list using a loop
fruits = ['banana', 'orange', 'mango', 'lemon']

reversed_fruits = []

for i in range(len(fruits) - 1, -1, -1):
    reversed_fruits.append(fruits[i])

print("Reversed fruit list:")
for fruit in reversed_fruits:
    print(fruit)

Reversed fruit list:
lemon
mango
orange
banana

In [26]:
all_languages = set()

for country in countries:
    if 'languages' in country:
        all_languages.update(country['languages'])

total_languages = len(all_languages)
print(f"The total number of languages in the data is {total_languages}.")

The total number of languages in the data is 0.

In [27]:


# Create a dictionary to store language counts
language_counts = {}

for country in countries:
    if 'languages' in country:
        for language in country['languages']:
            language_counts[language] = language_counts.get(language, 0) + 1

# Sort languages by count in descending order
sorted_languages = sorted(language_counts.items(), key=lambda x: x[1], reverse=True)

# Find the ten most spoken languages
top_languages = sorted_languages[:10]

print("The ten most spoken languages:")
for language, count in top_languages:
    print(f"{language}: {count} countries")

The ten most spoken languages: