# syntax Error

- **trying out all the examples in  day 15 exercise on python type error**

In [2]:
print'hello world' # missin g parenthesis in call to 'print'

SyntaxError: invalid syntax (3509018045.py, line 1)

In [4]:
print ('hello world') # he the eror in the above code is fixed

hello world

In [3]:
# Name error 

print (age) # age variable is not declare so we can call it.

NameError: name 'age' is not defined

In [7]:
age = 25 # age variable declared here as 25
print (age)

25

In [8]:
# Indent error
numbers = [1, 2, 3, 4, 5]
   numbers[5]

IndentationError: unexpected indent (10684085.py, line 3)

In [9]:
# Module not found error
import maths

ModuleNotFoundError: No module named 'maths'

In [10]:
# let fixed the error in the module not found 
import math # note that s wasn't there here unlike the above

In [12]:
# Attribute Error
import math
math.PI #b this raised and error, it is meants to be pi and not PI

AttributeError: module 'math' has no attribute 'PI'

In [13]:
# now lets fix the attribute error 
import math
math.pi

3.141592653589793

In [16]:
# key error
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']
'Asab'
users['county'] # there was a typo error here

KeyError: 'county'

In [18]:
user = {'name':'Asab', 'age':250, 'country':'Finland'}
user['name']
'Asab'
user['country'] # we debug the error, now its country and not county

'Finland'

In [19]:
# Type Error
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
4 + int('3')

7

In [23]:
4 + float('3')

7.0

In [25]:
# import error
from math import power # no fun ction called power in math

ImportError: cannot import name 'power' from 'math' (unknown location)

In [27]:
# lets fixed the error 
from math import pow #b instead of power, it called pow

In [29]:
# Value Error
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [31]:
# Zero Division Error 
1/0  # bwe can't divide a number by 0

ZeroDivisionError: division by zero